body
  background-color mainBg
  color textColor

#logContainer
  background-color logBg

.gutter
  background-color gutterBg

.treeitem:nth-child(even)
  background altLogBg

.treeitem:hover
  background logHoverBg
  color logHoverFg

.treeitem .childCount
  background childCountBg
  color childCountFg

.treeitem.selected
  background logSelectedBg
  color logSelectedFg

.json-inspector__value_string
  color stringValueFg

.json-inspector__value_number
  color numberValueFg

.json-inspector__key
  color jsonKeyFg

.json-inspector__value_not-found
  color notFoundValueFg

.json-inspector__value_null
  color nullValueFg

.json-inspector__value_helper
  color jsonHelperFg

.json-inspector__value_boolean
  color booleanValueFg

.json-inspector__line:hover:after
  background jsonLineHoverBg

.json-inspector__search, input.treeFilter
  background jsonSearchBg
  color jsonSearchFg
  border: solid 1px jsonSearchBorder

.json-inspector__hl
  background highlightBg
  box-shadow 0 -1px 0 2px highlightBg

.gear
  fill textColor

.copy
  color textColor

#toolbar select
  background mainBg
  color textColor
  border 1px solid textColor

::-webkit-scrollbar {
  background scrollBg;
}

::-webkit-scrollbar-thumb {
  background: scrollThumbBg;
  border: solid scrollBg 3px;
  border-radius: 6px;
}

