html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
body {
  font-family: sans;
  font-size: 80%;
}
#logContainer, #logDetailContainer {
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}
#logContainer, #logDetailContainer, .gutter.gutter-horizontal {
  height: calc(100% - 50px);
  float: left;
}
#logContainer {
}
#toolbar { height: 50px; }
#themeSelector {
  margin: 14px 14px;
  float: right;
  opacity: 0.5;
}
#themeSelector:hover {
  opacity: 1;
}
.copy {
  float: right;
  display: inline-block;
  padding: 8px;
  opacity: 0.8
}
.copy:hover {
  opacity: 1;
}

#filename {
  line-height: 50px;
  font-size: 14px;
  padding-left: 31px;
  float: left;
}
#settingsButton, #clearButton {
  float: right;
  border: 0;
  cursor: pointer;
  padding: 7px;
  opacity: 0.2;
  position: relative;
}
#clearButton {
  padding: 12px;
}
#settingsButton:hover, #clearButton:hover {
  opacity: 1;
}

.treeitem {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: height .2s;
}
.treeitem .childCount {
  line-height: normal;
  float: right;
  padding: 1px 4px;
  border-radius: 3px;
  margin: 6px 4px 6px 2px;
  font-size: smaller;
  font-weight: bold;
  transform: scale(0);
  transition: transform .2s;
}
.treeitem .childCount.visible {
  transform: scale(1);
}

.treeitem .childCount:before {
    content: '+';
}

.treeitem.level-1 {
  padding-left: 1.5em;
}
.treeitem.level-2 {
  padding-left: 3em;
}
.treeitem.level-4 {
  padding-left: 4.5em;
}

#settingsPage > div {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 32px
}
#settingsPage h1 {
  margin: 0;
}
.treeitem.hidden {
  height: 0 !important;
}

input.treeFilter {
  width: 100%;
  box-sizing: border-box;
}
